<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Add Actor</title>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
<script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>
<body>
<form action="#" th:action="@{/actor/add}" th:object="${actor}" method="POST">
<div><label th:for="${actor.firstName}">First Name</label>
	<input type="text" th:field="*{firstName}" th:errorclass="fieldError"/>
	<p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name</p>
</div>
<div><label th:for="${actor.lastName}">Last Name</label>
	<input type="text" th:field="*{lastName}" th:errorclass="fieldError"/>
	<p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name</p>
</div>
<div>
	<input type="submit" value="SIMPAN"/>
</div>
</form>
</body>
</html>
